<%@ Page Language="VB" AutoEventWireup="false" CodeFile="results.aspx.vb" Inherits="results" MasterPageFile="master_1.master" %>
<%@ MasterType VirtualPath="master_1.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">




<div class="body_art_content"> 
<div class="column_title">Results</div>




  <asp:Label Id="ltlresults" runat="server" />
</div>
<div style="clear:both;"></div>
 <!-- end body -->

<!-- end body art content -->

</asp:Content>
