﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="video.aspx.cs" Inherits="SuperSport.MatchCentre.UI.Web.Videos.video" EnableViewState="false" %>
<%@ Register src="GenericVideoView.ascx" tagname="VideoView" tagprefix="uc" %>
<uc:VideoView ID="ucVideoView" runat="server" />
