﻿<%@ Page Language="VB" AutoEventWireup="true" CodeFile="VotePollHandler.aspx.vb"
    Inherits="VotePollHandler" %>

<table width="100%" cellspacing="1" cellpadding="0" border="0">
    <asp:literal id="ltl_polls" runat="server" enableviewstate="False" />
</table>
