﻿/* -- General -- */
body 
{
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #1d1d1d;
}

img,
a
{
    margin: 0px;
    padding: 0px;
    border: 0px none;
	vertical-align: middle;
}

.clear
{
	clear: both;
}

/* -- Master Page --*/
.banner
{
	background: #FFFFFF url("../images/banner_bg.jpg") repeat-x center top;
	padding: 0px;
	text-align: left;
}

.topmenu
{
	background: #1D397E url("../images/top_menu_bg.jpg") repeat 0px 0px;
	color: #ffffff;
	text-decoration: none;
	line-height: 22px;
	vertical-align: middle;
	padding: 0px 0px 0px 2px;
	font-size: 10px;
	font-weight:bold;
	border-bottom: 1px solid #fff;
}

.topmenu a 
{
	color: #ffffff;
	text-decoration: none;
	line-height: 22px;
	vertical-align: middle;
	font-size: 10px;
}

.topmenu img
{
	vertical-align: middle;
}

.header
{
	background: #ffffff url("../images/header_bg.jpg") repeat-x 0px 0px;
	color: #ffffff;
	text-decoration: none;
	line-height: 22px;
	vertical-align: middle;
	font-weight: bold;
	padding: 0px 0px 0px 2px;
	font-size: 12px;
}

.header a
{
	color: #ffffff;
	text-decoration: none;
	line-height: 22px;
	vertical-align: middle;
	font-weight: bold;
	font-size: 12px;
}

.headericonright_e
{
	float: right;
	padding: 7px 5px 0px 0px;
}

.headericonright_s
{
	float: right;
	padding: 7px 5px 0px 0px;
}

.subheader
{
	background: #eeeeee;
    color: #1d1d1d;
	text-decoration: none;
	line-height: 22px;
	vertical-align: middle;
	font-weight: bold;
	font-size: 11px;
	padding: 0px 0px 0px 5px;
}

.subheader a
{
	background: #eeeeee;
    color: #009348;
	text-decoration: none;
	line-height: 22px;
	vertical-align: middle;
	font-weight: bold;
	font-size: 11px;
}

.bottomrelnav
{
	padding: 5px;
}

.relnavlnk
{
	color: #009348;
	text-decoration: none;
	font-weight: bold;
}

.relnavhr
{
	border: 0px none #eeeeee;
	color: #eeeeee;
	background: #eeeeee;
	height: 1px;
}

.bottomsponsors
{
	background: #efefef;
	padding: 5px;
	margin: 5px 0px 5px 0px;
	line-height: 16px;
	vertical-align: middle;
	text-align: center;
}

.bottommenu
{
	padding: 10px 5px 5px 5px;
	text-align: center;
	color: #009348;
}

.bottommenu a
{
	color: #a7a7a7;
	text-decoration: none;
}

.copyright
{
	text-align: center;
	color: #a7a7a7;
}

/* -- Landing Page -- */
.home-Container
{
	margin: 0px 0px 10px 0px;
}

.home-MoreLink
{
	font-weight: bold;
	text-decoration: none;
	color: #009348;
	float: right;
	padding: 0px 5px 0px 0px;
}

/* -- Landing Page Fixtures -- */
.iconfixturesItem
{
	text-align: center;
	padding: 2px 5px 5px 2px;
}

.iconfixturesDateContainer
{
	float: left;
}

.iconfixturesTimeContainer
{
	float: right;
}

.iconfixturesItemBreakDate
{
	clear: both;
}

.iconfixturesLabelDate,
.iconfixturesLabelTime
{
	font-weight: bold;
}

.iconfixturesItemLiveCommentaryLink
{
	float: left;
	text-decoration: none;
	color: #009348;
}

/* -- Compact Fixtures, Results and Logs -- */
.fixturesHeader,
.fixturesItem,
.fixturesAltItem,
.resultsHeader,
.resultsItem,
.resultsAltItem,
.logsHeader,
.logsItem,
.logsAltItem
{
	width: 100%;	
}

.fixturesHeader,
.resultsHeader,
.logsHeader
{
	background: #787878;
	color: #ffffff;
}

.fixturesItem,
.resultsItem,
.logsItem
{
	background: #e3e3e3;
}

.fixturesAltItem,
.resultsAltItem,
.logsAltItem
{
	background: #f6f6f6;
}

/* -- Compact Fixtures -- */
.fixturesHeaderDate,
.fixturesItemDate,
.fixturesAltItemDate
{
	display: block;
	float: left;
	padding: 0px 3px 0px 3px;
}

.fixturesHeaderLeagueName,
.fixturesItemLeagueName,
.fixturesAltItemLeagueName
{
	display: block;
	float: left;
	padding: 0px 3px 0px 3px;
}

.fixturesHeaderMatch,
.fixturesItemMatch,
.fixturesAltItemMatch
{
	display: block;
	float: left;
	padding: 0px 3px 0px 3px;
}

.fixturesHeaderBreak,
.fixturesItemBreak,
.fixturesAltItemBreak
{
	clear: both;
}

.fixturesItemLiveCommentaryLink,
.fixturesAltItemLiveCommentaryLink
{
    clear: left;
    color: #009348;
    display: block;
    float: left;
    text-decoration: none;
}

/* -- Compact Results -- */
.resultsHeaderDate,
.resultsItemDate,
.resultsAltItemDate
{
	display: block;
	float: left;
	padding: 0px 3px 0px 3px;
}

.resultsHeaderLeagueName,
.resultsItemLeagueName,
.resultsAltItemLeagueName
{
	display: block;
	float: left;
	padding: 0px 3px 0px 3px;
}

.resultsHeaderMatch,
.resultsItemMatch,
.resultsAltItemMatch
{
	display: block;
	float: left;
	padding: 0px 3px 0px 3px;
}

.resultsHeaderBreak,
.resultsItemBreak,
.resultsAltItemBreak
{
	clear: both;
}

/* -- Compact Logs -- */
.logsHeaderTeam,
.logsItemTeam,
.logsAltItemTeam
{
	border: 1px solid #ffffff;
	width: 30%;
	display: block;
	float: left;
}

.logsHeaderPosition,
.logsHeaderPlayed,
.logsHeaderWon,
.logsHeaderDrew,
.logsHeaderLost,
.logsItemPosition,
.logsItemPlayed,
.logsItemWon,
.logsItemDrew,
.logsItemLost,
.logsAltItemPosition,
.logsAltItemPlayed,
.logsAltItemWon,
.logsAltItemDrew,
.logsAltItemLost
{
	border: 1px solid #ffffff;
	width: 9%;
	display: block;
	float: left;
	text-align: center;
}

.logsHeaderPts,
.logsItemPts,
.logsAltItemPts
{
	border: 1px solid #ffffff;
	width: 14%;
	display: block;
	float: left;
	text-align: center;	
}

/* -- Landing Page Results -- */
.iconresultsItem
{
	text-align: center;
	padding: 2px 5px 5px 2px;
}

/* -- News Browsing -- */
.newsItemImage,
.newsAltItemImage
{
	float: left;
	margin: 0px 5px 0px 0px;
}

.newsItemHeadline,
.newsAltItemHeadline,
.newsItemHeadlineLink,
.newsAltItemHeadlineLink
{
	font-weight: bold;
	text-decoration: none;
	color: #000000;
	font-size: 11px;
}

.newsItemBlurb,
.newsAltItemBlurb,
.newsItemBlurbLink,
.newsAltItemBlurbLink
{
	text-decoration: none;
	color: #1d1d1d;
}

.newsItem,
.newsAltItem
{
	border-bottom: 1px dotted #1d1d1d;
	margin: 10px 0px 10px 0px;
	padding: 0px 5px 5px 5px;
}

.newsItemLink,
.newsAltItemLink
{
	font-weight: bold;
	text-decoration: none;
	color: #009348;
	float: right;
}

/* -- Article View News Browsing -- */
#LatestNewsArticleViewContent .newsItemImage,
#LatestNewsArticleViewContent .newsAltItemImage
{
	display: none;
	visibility: hidden;
}

/* -- Article Viewing -- */
.article
{
	margin: 10px 0px 10px 0px;
	padding: 0px 5px 0px 5px;
}

.articleHeadline
{
    color: #1D1D1D;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    margin: 0px 0px 5px 0px;
}

.articleTimestamp
{
	color: #999999;
}

.articleImage
{
	float: left;
	margin: 0px 5px 0px 0px;
}

.articleBodyBreak
{
	clear: both;
}

/* -- Galleries/Gallery Control -- */
.galleries-controlItem,
.galleries-controlAltItem,
.gallery-controlItem,
.gallery-controlAltItem
{
	background: #f2f2f2;
	padding: 5px;
	text-align: center;
	margin: 5px;
}

.galleries-controlItemHeadlineLink,
.galleries-controlAltItemHeadlineLink,
.gallery-controlItemHeadlineLink,
.gallery-controlAltItemHeadlineLink
{
	display: none;
}

.gallery-controlPagerPrevLink
{
	float: left;
	padding: 0px 0px 0px 5px;
	font-weight: bold;
	text-decoration: none;
	color: #1d397e;
}

.gallery-controlPagerNextLink
{
	float: right;
	padding: 0px 5px 0px 0px;
	font-weight: bold;
	text-decoration: none;
	color: #1d397e;
}

/* -- Photo Control -- */
.photoviewImageContainer
{
	background: #f2f2f2;
	padding: 5px;
	text-align: center;
	margin: 5px;
}

.photoviewImage
{
	padding: 5px;
	max-width: 80%;
}

.photoviewGalleryLink
{
	color: #1d397e;
	text-decoration: none;
	font-weight: bold;
}

/* -- Squad Control --*/
.squadPositionGroupHeader
{
	background: #b30006 url("../images/header_bg.jpg") repeat-x 0px 0px;
	color: #ffffff;
	text-decoration: none;
	line-height: 22px;
	vertical-align: middle;
	font-weight: bold;
	padding: 0px 0px 0px 2px;
	font-size: 12px;
}

.squadPlayerContainer,
.squadAltPlayerContainer
{
	border-bottom: 1px dotted #1d1d1d;
	margin: 3px 0px 3px 0px;
	padding: 0px 5px 3px 5px;
	background: transparent url("../images/squad_arrow_e.png") no-repeat right center;
}

.squadPlayerLink,
.squadAltPlayerLink
{
	text-decoration: none;
	color: #009348;
	padding: 0px 0px 0px 5px;
}

/* -- Player View Control -- */
.playerProfileContainer
{
	padding: 5px;
	background: #efefef;
	margin: 5px;
}
.playerProfileHeader
{
	background: #6eac1b url("../images/header_bg.jpg") repeat-x 0px 0px;
	color: #ffffff;
	text-decoration: none;
	line-height: 22px;
	vertical-align: middle;
	font-weight: bold;
	padding: 0px 0px 0px 2px;
	font-size: 12px;
}

.playerProfileLabel
{
	font-weight: bold;
}

.playerProfileCombinedNameBreak
{
	clear: both;
}

.playerProfileImage
{
	float: left;
	margin: 0 5px 0 0;
}

.playerSquadLink
{
	font-weight: bold;
	text-decoration: none;
	color: #1d397e;
	float: right;
	padding: 0px 5px 0px 0px;
}

.playerSquadLinkContainer
{
	clear:both;
	padding: 0px 0px 10px 0px;
}

/* -- Poll Control --*/
.poll
{
	margin: 5px;
	background: #efefef;
	padding: 5px;
}

.pollQuestionContainer
{
	padding: 0px 5px 0px 5px;
}

.pollQuestion
{
	font-weight: bold;
}

.pollAnswersContainer
{
	margin: 5px;
	background: #ffffff;
	list-style: none;
}

.pollAnswersContainer ul
{
	list-style: none;
	padding: 0px 0px 0px 0px;
}

.pollAnswersContainer li
{
	list-style: none;
	border-top: 1px dotted #1d1d1d;
	border-bottom: 1px dotted #1d1d1d;
	padding: 3px 5px 3px 5px;
	margin: 0px;
}

.pollAnswersContainer input
{
	/* float: right; */
	margin-bottom: 3px;
}

.pollAnswersContainer div
{
	border-top: 1px dotted #1d1d1d;
	border-bottom: 1px dotted #1d1d1d;
	padding: 3px 5px 3px 5px;
	margin: 0px;
}

.pollButtonContainer
{
	text-align: center;
}

.pollVoteButton
{
	background-image: url("../images/submit_btn.jpg");
    background-repeat: no-repeat;
    border: 0 none #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
    height: 23px;
    margin-left: 0;
    margin-top: 0;
    width: 86px;
}