<%@ Page Language="VB" AutoEventWireup="false" CodeFile="fixtures.aspx.vb" Inherits="fixtures" MasterPageFile="master_1.master" %>
<%@ MasterType VirtualPath="master_1.master" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
<div class="body_art_content"> 
<div class="art_title">Fixtures</div>
<div id="art_story">

<div id="art_story_wrapper">


  <asp:Label Id="ltlFixtures" runat="server" />
</div>
<div style="clear:both;"></div>
</div> <!-- end body -->

</div>

<!-- end body art content -->






</asp:Content>
