<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Logs.aspx.vb" Inherits="Logs" MasterPageFile="master_1.master"%>
<%@ MasterType VirtualPath="master_1.master" %>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">




<div class="body_art_content"> 
<div class="column_title">PSL Standings</div>




  <asp:Label Id="ltlLogs" runat="server" />
</div>
<div style="clear:both;"></div>
 <!-- end body -->

<!-- end body art content -->

</asp:Content>


