/* CSS Document */
html, body { background-color:#fff; font-size:11px; font-family:Arial; margin:0; padding:0;}
/* anchor */
a
{
	text-decoration:none;
	color:Black;
}
a:hover

{
	text-decoration:none;
	color:Black;
}
a:visited
{
	text-decoration:none;
	color:Black;
}

/* MAIN	CONTAINERS START */

#outer_wrapper { height: auto !important; position: relative; width: 100%; margin: 0px 0 0px 0 ;}

#wrapper { margin: 0 auto 0 auto; width: 994px; background-color:#fff; padding:0;   }

#inner_wrapper { width:951px; height:auto; clear:both; margin:0; padding:20px 0 20px 23px;}

/* MAIN	CONTAINERS END */
/* TOP START */

#main_header { width:951px; height:189px; margin:0; padding:0; background-image:url(pics/main_bg_header.jpg); background-repeat:no-repeat;}

#box-link { 
		position: absolute; 
		top: 70px; 
		left: 834px; 
		width: 185px; 
		height: 84px; 
		background-color: transparent; 
		border: 0px solid white; }	

#nav { width:951px; height:40px; margin:0; padding:0; position:absolute; top:189px; right:0; bottom:0; left:158px; border-bottom:3px solid #159455;}

.fix 
{
	 background-color:#EBF6EA; color:#00000;
}
/* BODY */

#body_container { width:951px; height:auto; margin:27px 0 0 0; padding:0;}

#body { float:left; width:615px; height:auto; margin:0; padding:0;}
#body_art { float:left; width:613px; height:auto; min-height:1183px; margin:0; padding:0; border:1px solid #CECECE;}
#body_art .body_art_content { padding:21px 18px 0px 16px;}
#body_art .body_cat_content { padding:9px 0px 0px 7px}

div.hidden { position: absolute; left: 0; top: 0; width: 0px; height: 0px; display: none; visibility: hidden; z-index: -1000; }

#top_story_main { width:593px; height:351px; margin:0; padding:9px 9px 7px 9px; border:1px solid #CECECE;}
.top_story_box {  height:320px; background-color:#009348;}

#top_story_main .image { float:left; margin:3px 0 0 4px; padding:0;}
#top_story_main img {  border:1px solid #F2F9F6;}
#top_story_main .txt { float:left; width:254px; height:auto; padding:0; margin:11px 0 0 17px;}
#top_story_main .header { font-size:12px; color:#fff; font-weight:bold; padding-bottom:6px;}
#top_story_main .header a { color:#fff; text-decoration:none; font-weight:bold;}
#top_story_main .header a:hover { color:#fff; text-decoration:underline;}
#top_story_main .summary { color:#fff; line-height:16px;}
#top_story_main #more { width:582px; height:16px; background-color:#00743C; margin:1px 0 0 0; padding:4px 11px 0 0; color:#fff; font-weight:bold; text-align:right;}
#top_story_main #more a { color:#fff; text-decoration:none;}
#top_story_main #more a:hover { color:#fff; text-decoration:underline;}

galleryheader { font-size:12px; color:#0000; font-weight:bold; padding-bottom:6px;}

#controls { width:593px; height:28px; background-color:#00743C; margin-top:3px; padding:0; display:block; color:#fff;}
#controls more { float:right;}
#controls .more { text-align:right;color:#ffffff; height:16px; font-size:12px; font-weight:bold; padding:6px 2px 6px 0px;}
#controls .more a { text-align:right;color:#ffffff; font-size:12px; height:16px; font-weight:bold; text-decoration:none; padding:6px 25px 6px 0px;}
#controls .more a:hover { text-align:right;color:#ffffff; text-decoration:underline;}

#controls .images { float:left;}
#controls img { width:57px; height:28px; margin:0; padding:0; border:none;}

#banner_box { width:591px; height:99px; margin:11px 0 0 0; padding:6px 9px 6px 11px; border:1px solid #cecece;}
#banner_box #banner { width:468px; height:59px; margin:0; padding:20px 59px 19px 66px; background-color:#009348; }
#banner_box #banner .banner {width:468px; height:60px; margin:0; padding:0; vertical-align:middle;}
#banner_box #banner .banner SPAN {width:468px; height:60px; margin:0; padding:0; vertical-align:middle;}
#banner_box #banner .banner SPAN A {width:468px; height:60px; margin:0; padding:0; vertical-align:middle;}
#banner_box #banner .banner SPAN IMG {margin-top:-60px !important; vertical-align:top;}

#stats_box { width:595px; height:233px; margin:12px 0 0 0; padding-top:9px; padding-right:8px; padding-bottom:7px; padding-left:8px !important; padding-left:5px; border:1px solid #cecece;}

#stats_table { width:596px; height:auto; margin:0; padding:0;}
#stats_table .green_line { width:576px; height:5px; background-color:#00743C;}
#stats_table td { margin:0; padding:0; border:1px solid #fff;}
#stats_table .header_rows { text-transform:uppercase; color:#fff; font-weight:bold; background-color:#009348;}
#stats_table .row1 { background-color:#EBF6EA; color:#0E6227;}
#stats_table .row2 { background-color:#C2DEC0; color:#0E6227;}
#stats_box #more { width:587px; height:16px; background-color:#00743C; margin:1px 0 0 0; padding:4px 11px 0 0; color:#fff; font-weight:bold; text-align:right;}
#stats_box #more a { color:#fff; text-decoration:none;}
#stats_box #more a:hover { color:#fff; text-decoration:underline;}

#gallery { width:596px; height:280px; margin:15px 0 0 0; padding:8px 8px 10px 7px; border:1px solid #cecece;}
#gallery #header { width:598px; height:29px; background-image:url(pics/gallery_header.jpg); background-repeat:no-repeat;}
#gallery #images { width:567px; height:207px; margin:1px 0 0 0; padding:6px 15px 15px 16px; background-color:#009348;}
#gallery #images img { width:80px; height:60px; border:1px solid #ABABAB;}
#gallery #images .divider { padding-bottom:18px; display:block;}
#gallery #more { text-align:right;padding-right:5px;width:598px; height:22px; background-image:url(pics/gallery_footer.jpg); background-repeat:no-repeat;color:#ffffff;}
#gallery #more a { color:#fff; text-decoration:none;}
#gallery #more a:hover { color:#fff; text-decoration:underline;}

#body2 { float:left; width:320px; height:auto; margin:0; padding:0 0 0 16px;}
#celtic_tv { width:305px; height:353px; border:1px solid #cecece; margin:0; padding:9px 6px 5px 7px;}
#celtic_tv #header { width:305px; height:25px; background-image:url(pics/celtic_tv_header.jpg); background-repeat:no-repeat; margin:0; padding:0;}
#celtic_tv #main_vid { width:277px; height:120px; background-color:#48B266; margin:1px 0 0 0; padding:6px 22px 17px 6px;}
/* #celtic_tv #main_vid img { float:left; border:1px solid #3C6E39;} */

.tv_main {float:left; width:96px; height:91px; margin-left:20px;}
.tv_sub {width:60px; height:53px; border:none;}
.tv_sub img { border:none !important; /*margin-left:15px;*/}
.tv_txt {display:block; color:#fff; font-weight:bold; text-transform:uppercase; margin-top:5px;}
.tv_txt a {color:#fff; text-decoration:none;}
.tv_txt a:hover {color:#fff; text-decoration:underline;}

#celtic_tv #more_tv_stories { width:293px; height:20px; margin:1px 0 0 0; padding:9px 6px 6px 6px; background-color:#009348; background-image:url(pics/play_btn_small.jpg); background-repeat:no-repeat; background-position:4% 50%;}
#celtic_tv #more_tv_stories a { color:#fff; font-weight:bold; text-decoration:none; padding:0 0 0 43px;}
#celtic_tv #more_tv_stories a:hover { color:#fff; font-weight:bold; text-decoration:underline;}

#celtic_tv #more_tv_stories_1 { color:#ffffff;width:293px; height:10px; margin:1px 1px 1px 1px; padding:9px 6px 6px 6px; background-color:#009348; background-repeat:no-repeat; background-position:4% 50%;font-weight:bold;}

#celtic_tv #more_tv_vids { width:297px; height:15px; background-color:#00743C;text-align:right; margin:1px 0 0 0;color:#ffffff; padding:8px 8px 0 0;}
#celtic_tv #more_tv_vids a { color:#fff; font-weight:bold; text-decoration:none; padding:2 2 2 43px;}
#celtic_tv #more_tv_vids a:hover  { color:#fff; font-weight:bold; text-decoration:underline;}

#celtic_tv select { width:105px; height:17px; font-size:10px;}
#celtic_tv form { margin:0; padding:0; width:105px; height:17px; float:right; }

#column { width:305px; height:129px; margin:10px 0 0 0; padding:7px 6px 6px 7px; border:1px solid #cecece;}
#column #header { width:305px; height:23px; background-image:url(pics/column_header.jpg); background-repeat:no-repeat;}
#column #stories { width:283px; height:80px; background-color:#009348; padding:12px 9px 10px 13px;}
#column #stories img { float:left; width:80px; height:80px; border:1px solid #A7AAA9;}
/* #column #stories .story { float:right; width:200px; height:auto; margin-left:2px; color:#fff;} */
#column #stories .story { float:inherit; width:200px; height:auto; padding-left:90px; color:#fff;}
#column #stories .story .title { font-weight:bold;}
#column #stories .story .title a { color:#fff; font-weight:bold; text-decoration:none;}
#column #stories .story .title a:hover { color:#fff; text-decoration:underline;}
#column #stories .story .summary { margin-top:6px;}
#column #stories .story .more {margin-top:4px; font-weight:bold;}
#column #stories .story .more a { color:#fff; font-weight:bold; text-decoration:none;}
#column #stories .story .more a:hover { color:#fff; text-decoration:underline;}

#poll { width:305px; height:210px; margin:8px 0 0 0; padding:7px 6px 6px 7px; border:1px solid #cecece;}
#poll #header { width:305px; height:26px; background-image:url(pics/poll_header.jpg); background-repeat:no-repeat;}
#poll #questions { width:274px; height:150px; background-color:#00743C; margin:1px 0 0 0; padding:6px 20px 14px 11px; background-image:url(pics/poll_bg.jpg); background-repeat:no-repeat;font-weight:bold; color:#fff;}
#poll #questions .header {color:#fff; font-weight:bold; padding-bottom:8px;}
#poll #questions input {margin:0; padding:0;}
#poll #questions radio {height:61px;margin:0; padding:0;}
#poll #questions td {height:100%;margin:0; padding:0;}
#poll #questions .label {color:#fff; margin:0; padding:0 0 0px 0; overflow:hidden;}
#poll #questions form { margin:0; padding:0;}

#poll #polly { width:280px; height:35px; text-align:center;padding-top:15px;color:#ffffff; border-top:solid 1px #FFFFFF;}

#reebok_banner { width:318px; height:298px; border:1px solid #cecece; margin:14px 0 0 0; padding:0;}

#newsletter { width:305px; height:208px; margin:13px 0 0 0; padding:7px 6px 6px 7px; border:1px solid #cecece;}
#newsletter #header { width:305px; height:23px; background-image:url(pics/newsletter_header.jpg); background-repeat:no-repeat;}
#newsletter #info { width:284px; height:135px; background-color:#009348; margin:1px 0 0 0; padding:7px 9px 0px 12px; color:#fff;}
#newsletter #info .header { font-weight:bold; padding-bottom:12px;}
#newsletter #info .label { padding-bottom:12px; display:block;}
#newsletter #info input { width:200px; height:15px; border:1px solid #D1D1D1; font-size:11px;}
#newsletter #info form { margin:0; padding:0;}
#newsletter #info td { margin:0; padding:0; color:#fff;}
#newsletter #buttons { width:170px; height:22px; padding:8px 71px 8px 64px; background-color:#00743C; margin:1px 0 0 0;}

#body3 { width:0px; height:0px; margin:14px 0 0 0; padding:0;}
#body3 #banner { width:0px; height:0px; border:0px solid #cecece; padding:11px 110px 9px 110px; margin:0; background-color:#fff;}

#bottom { width:951px; height:369px; margin:14px 0 0 0; padding:0;}

#football_news { float:left; width:283px; height:250px; margin:0; padding:9px 5px 8px 4px; border:1px solid #cecece;}
#football_news #header { width:283px; height:25px; background-image:url(pics/fn_header.jpg); background-repeat:no-repeat; margin:0; padding:0;}
#football_news #links { width:274px;  margin:0; padding:5px 3px 5px 3px;}
#football_news #links .link ul { color:#0E6227; margin:0; padding:0;}
#football_news #more { width:274px; height:10px; margin:0; padding:4px 9px 6px 0px; background-color:#00743C; text-align:right;}
#football_news #more a { color:#fff; text-decoration:none; font-weight:bold;}
#football_news #more a:hover { color:#fff; text-decoration:underline;}

#fan_comments { float:left; width:283px; height:250px; margin-left:24px !important; margin-left:20px; padding:9px 5px 8px 4px; border:1px solid #cecece;}
#fan_comments #header { width:283px; height:25px; background-image:url(pics/fc_header.jpg); background-repeat:no-repeat; margin:0; padding:0;}
#fan_comments #info { width:274px; height:176px; margin:0; padding:0px 0px 0px 0px;}
#fan_comments #info .story { display:block; margin:0; padding:0 0 5px 2px;}
#fan_comments #info .date { color:#0D6226; padding-bottom:3px;}
#fan_comments #info .summary { color:#6C6D6C; line-height:16px; padding:2px;}
#fan_comments #info .byline { color:#6C6D6C; font-weight:bold;}

#fan_comments #more { width:274px; height:10px; margin:0; padding:4px 9px 6px 0px; background-color:#00743C; text-align:right;}
#fan_comments #more a { color:#fff; text-decoration:none; font-weight:bold;}
#fan_comments #more a:hover { color:#fff; text-decoration:underline;}

#bottom_adbox { float:left; width:300px; height:250px; margin:0 0 0 24px; padding:9px 8px 8px 5px; border:1px solid #cecece;}
#bottom_adbox #banner { width:300px; height:250px; margin:0; padding:0;text-align:center;}

#footer { width:955px; height:77px; background-image:url(pics/footer_bg.jpg); background-repeat:no-repeat; margin:16px 0 0 0; padding:0;}
#footer .txt { color:#9AD3AE; margin:0; padding:36px 0 0 337px;}
#footer .txt a { color:#9AD3AE; margin:0; text-decoration:none;}
#footer .txt a:hover { color:#9AD3AE; margin:0; text-decoration:underline;}

#box-links { 
		position: absolute; 
		top: 1615px; 
		left: -800px; 
		width: 185px; 
		height: 60px; 
		background-color: transparent; 
		border: 0px solid red; }
		

/* ART STYLES */

#adbox_catart { width:300px; height:250px; margin-top:10px; padding:9px 8px 8px 10px; border:1px solid #cecece;}
#adbox_catart #banner { width:300px; height:250px; margin:0; padding:0;}

.art_title { color:#00743C; font-size:17px; font-weight:bold;}
.date { color:#999; font-size:11px;}
#art_story {margin-top:21px;}
#art_story p { line-height:16px; color:#4D4D4D}

#art_story_wrapper {float:left; width:185px; height:240px; margin:0; padding:0; background-color:#FFFFFF;}
#art_story .image { width:182px; height:230px; margin:0; padding:0; background-color:#009348; }
#art_story .image img { width:180px; height:211px; margin:1px 1px 1px 1px; padding:0;}
#art_story .caption { color:#fff; text-align:center; margin-top:5px;}

#news_headlines { width:305px; height:342px; border:1px solid #cecece; margin:0; padding:9px 6px 5px 7px;}
#news_headlines #header { width:305px; height:25px; background-image:url(pics/news_headline_header.jpg); background-repeat:no-repeat; margin:0 0 1px 0; padding:0;}

#news_headlines #more_tv_stories { width:293px; height:20px; margin:0; padding:9px 6px 6px 6px; background-color:#009348; border-bottom:1px dotted #fff;}
#news_headlines #more_tv_stories a { color:#fff; font-weight:bold; text-decoration:none; padding:0 0 0 8px; margin:0; }
#news_headlines #more_tv_stories a:hover { color:#fff; font-weight:bold; text-decoration:underline;}

#news_headlines #more { width:296px; height:10px; margin:1px 0 0 0; padding:4px 9px 6px 0px; background-color:#00743C; text-align:right;}
#news_headlines #more a { color:#fff; text-decoration:none; font-weight:bold;}
#news_headlines #more a:hover { color:#fff; text-decoration:underline;}

/* COLUMNS MORE */
#adbox_catart { width:300px; height:250px; margin-top:10px; padding:9px 8px 8px 10px; border:1px solid #cecece;}
#adbox_catart #banner { width:300px; height:250px; margin:0; padding:0;}

.column_title { color:#00743C; font-size:17px; font-weight:bold;}
.date { color:#999; font-size:11px;}
#column_story {margin-top:21px;}
#column_story p { line-height:16px; color:#4D4D4D}

#column_story_wrapper {float:left; width:130px; height:130px; margin:0; padding:0; background-color:#FFFFFF;}
#column_story .image {  width:127px; height:127px;  margin:0; padding:0; background-color:#009348; }
#column_story .image img {  width:125px; height:125px; margin:1px 0 0 1px; padding:0;}

#column_headlines { width:305px; height:342px; border:1px solid #cecece; margin:0; padding:9px 6px 5px 7px;}
#column_headlines #header { width:305px; height:25px; background-image:url(pics/news_headline_header.jpg); background-repeat:no-repeat; margin:0 0 1px 0; padding:0;}

#column_headlines #more_tv_stories { width:293px; height:20px; margin:0; padding:9px 6px 6px 6px; background-color:#009348; border-bottom:1px dotted #fff;}
#column_headlines #more_tv_stories a { color:#fff; font-weight:bold; text-decoration:none; padding:0 0 0 8px; margin:0; }
#column_headlines #more_tv_stories a:hover { color:#fff; font-weight:bold; text-decoration:underline;}

#column_headlines #more { width:296px; height:10px; margin:1px 0 0 0; padding:4px 9px 6px 0px; text-align:right;}
#column_headlines #more a { color:#c0c0c0; text-decoration:none; font-weight:bold;}
#column #more a:hover { color:#c0c0c0; text-decoration:underline;}

/* CAT STYLES */

#cat_stories { width:295px; height:auto; border-bottom:1px dotted #71987D; margin:0 0 14px 0; padding-bottom:12px;}
#cat_stories #left { float:left; width:267px; height:auto; margin:0; padding:0 0 0 6px;}
#cat_stories #divider { float:left; width:1px; height:99px; margin:0; padding:0 30px 0 30px;}
#cat_stories #right { float:left; width:254px; height:auto;}
.cat_subhead { width:599px; height:29px; margin:0; padding:0 0 12px 0;}
#cat_stories .title { color:#00743C; font-size:13px; font-weight:bold; margin:0; padding:0;}
#cat_stories .title a { color:#00743C; font-size:13px; font-weight:bold; text-decoration:none;}
#cat_stories .title a:hover { color:#00743C; font-size:13px; font-weight:bold; text-decoration:underline;}
#cat_stories .date { color:#9C9C9C; margin:0; padding:0 0 3px 0;}
#cat_stories .summary { line-height:16px; color:#4D4D4D;}

.frontControlsBack{background-color:#FFFFFF;position:relative;top:-25px;height:25px;line-height:25px;}
.frontControlsBack{filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7;opacity: 0.7;}
.frontControls{position:relative;top:-50px;height:25px;line-height:25px;}
.frontControls a {float:right;margin-left:1px;height:25px;width:25px;line-height:25px;text-align:center;color:#FFFFFF;}
a.frontControlsHigh {background-color:#FFF;color:#9A0144;}
.frontControls  p{padding-left:10px;width:25px;color:#424145;}
.frontTopHolder{height:20px;}
.frontTopArticle{background-color:#FFFFFF;height:88px;}
.frontTopArticle h1{padding-bottom:5px;font-family: Arial, Helvetica, serif;	font-size: 16px;color:#9A0144;font-weight:bold;}
.frontTopArticle span {padding:10px;display:block;}
.frontTopArticle a {height:16px;line-height:16px;background-color:#EDECEA;padding:0px  2px 0px 2px;white-space: nowrap;margin:2px;}



/*---------- News Headlines Styles ----------*/
.featured_news_header a:hover { padding:  0px 0px 0px 0px;font-family: verdana,arial ;font-size: 11px;  color: #FFFFFF; height: 25px; vertical-align: middle; background:#000000;}
.headlines_a {padding:  0px 0px 0px 0px;font-family: verdana,arial ;font-size: 11px; color: #FFFFFF; width:180px; height: 25px; vertical-align: middle; background:#000000; }
.headlines_a a:link{ padding:  0px 0px 0px 0px;font-family: verdana,arial ;font-size: 11px;  color: #FFFFFF; height: 25px; vertical-align: middle; background:#000000;font-size: 11px;}
.headlines a:visited{padding:  0px 0px 0px 0px;background:#FFFFFF;color: #FF0000; text-decoration: none;font-size: 11px; }
.headlines a:active  {padding:  0px 0px 0px 0px;background:#FFFFFF;color: #FF0000; text-decoration: none;font-size: 11px; }
.headlines_a a:hover  {padding:  0px 0px 0px 0px;background:#FFFFFF;color: #FF0000; text-decoration: none; font-size: 11px;}
.headlines_featured  a:link{padding:  0px 0px 0px 0px;background:#FFFFFF;color: #FF0000; text-decoration: none;font-size: 11px; }
.headlines_featured a:visited{padding:  0px 0px 0px 0px;background:#FFFFFF;color: #FF0000; text-decoration: none;font-size: 11px; }
.headlines_featured a:active{ padding:  0px 0px 0px 0px;background:#FFFFFF;color: #FF0000; text-decoration: none;font-size: 11px; }
.headlines_last { padding:  0px 0px 0px 0px; font-size: 11px; color: #FF0000; height: 19px;background:#ffffff;width:215px;font-size: 11px;}
/*---------- Home Headlines Extra Links Styles ----------*/
















