﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="AdMarvel.ascx.cs" Inherits="SuperSport.MatchCentre.UI.Mobi.Ads.AdMarvel" EnableViewState="false" %>
<asp:Literal ID="ltrlAdString" runat="server"></asp:Literal>
<!-- <asp:Literal ID="ltrlAdStringHidden" runat="server"></asp:Literal> -->
