/* General css for the entire news rotator */
.newsRotator{
	width:600px;
	height:390px;
	overflow:hidden;
	background-color:#000;
	position:relative;
}
/* General css for a news story */
.newsRotatorStory{
	background-color:black;
}
.newsRotatorIngress,.newsRotatorHeading{
	padding:3px;
}
.newsRotatorIngress{
	color:white;
}
/* Heading of the news  */
.newsRotatorHeading{
	margin:0px;
	color:white;
	padding:0px;
}
.newsRotatorHeading a{
	color:white;
	text-decoration:none;
}
.newsRotatorHeading a:hover{
	text-decoration:underline;
}
/* Navigator pane at the bottom of the news rotator */
.newsRotatorNavigator {
	background-color:black;
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	height:30px;
	z-index:10;	
	padding-top:4px;
}
/* Div for the navigator links */
.newsRotatorNavigatorLinks {
	border:1px solid white;
	width:15px;
	height:22px;
	padding-top:0px;
	float:right;
	margin-right:2px;
	margin-left:1px;
	color:white;
	text-align:center;
}
/* <a> tag inside the newsRotatorNavigatorLinks div */
.newsRotatorNavigatorLinks a{
	color:white;
	text-decoration:none;
}
/* Active link in the navigator pane */
a.newsRotatorNavigatorActiveLink {
	font-weight:bold;
	color:yellow;
}
.newsRotatorTooltip {	/* Tooltip appearing when you move the mouse over the number in the navigator area */
	border:1px solid #000;
	background-color:white;
	padding:3px;
	bottom:35px;
	right:5px;
	width:500px;
	color:#444;
	font-style:italic;
	font-size:0.8em;
}
